.container-fluid.container-fluid-main
  .row
    .col-md-10.col-md-offset-1.text-center
      .panel.panel-log.main-text
        .panel-body.margin-bottom
          %h2 Resend confirmation instructions
        .panel-body
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
            .actions.btn.btn-outline
              = f.submit "Resend"
        .panel-body
          = render "devise/shared/links"
