.container-fluid.container-fluid-main
  .row
    .col-md-10.col-md-offset-1.text-center
      .panel.panel-log.main-text
        .panel-body.margin-bottom
          %h2
            Edit #{resource_name.to_s.humanize}
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            .field.margin-bottom
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .field.margin-bottom
              = f.label :password
              %i (leave blank if you don't want to change it)
              %br/
              = f.password_field :password, autocomplete: "off"
              - if @minimum_password_length
                %br/
                %em
                  = @minimum_password_length
                  characters minimum
            .field.margin-bottom
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off"
            .field.margin-bottom
              = f.label :current_password
              %i (we need your current password to confirm your changes)
              %br/
              = f.password_field :current_password, autocomplete: "off"
            .actions.btn.btn-outline
              = f.submit "Update"
          %h3 Cancel my account
          %p
            Unhappy?
          = link_to "Cancel my account", registration_path(resource_name), class: "btn btn-outline", data: { confirm: "Are you sure?" }, method: :delete
          = link_to "Back", :back, class: "btn btn-outline"
