<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE en-export SYSTEM "http://xml.evernote.com/pub/evernote-export3.dtd">
<% @notecards.each do |notecard| %>
  <en-export export-date="20161212T212917Z" application="Evernote" version="Evernote Mac 6.9.2 (454158)">
  <note><title><%= notecard.title %></title><content><![CDATA[<?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!DOCTYPE en-note SYSTEM "http://xml.evernote.com/pub/enml2.dtd">
  <en-note>
  <div><b>Quote:</b></div>
  <div><%= notecard.quote %></div>
  <% if notecard.note.present? %>
    <div><hr/></div>
    <div><b>Note:</b></div>
    <div><%= notecard.note %></div>
  <% end %>
  <div><hr/></div>
  <div><% if !notecard.book.nil? %>
    <div>"<%= notecard.book.title %>" by <% if !notecard.authors.empty? %><%= notecard.authors[0].first_name %> <%= notecard.authors[0].last_name %><% end %></div>
  </div><% end %>
  </en-note>
  ]]></content>
  <% if !notecard.themes.empty? %>
    <% notecard.themes.each do |theme| %>
      <tag><%= theme.name %></tag>
    <% end %>
  <% end %>
  </note>
<% end %>
</en-export>
