.container-fluid.container-fluid-main
  .row
    .col-md-12.text-center.margin-bottom
      .h1
        = "Themes"
  .row
    .col-md-8.col-md-offset-2
      - ("a".."z").each do |letter|
        - @theme_array = organize_themes(@themes, letter)
        .row.row-border-bottom
          .col-md-1.padding-bottom.margin-top
            .letter-heading
              = letter.capitalize
          .col-md-8.padding-bottom.margin-top
            - @theme_array.each do |theme|
              %div{id: "theme-row-#{theme.id}"}
                .btn.btn-theme
                  = link_to theme.name, theme_path(theme)
                  %span.badge.margin-left= "#{theme.notecards.count}"
                %strong
                  = link_to "x", theme, method: :delete, class: "btn btn-theme-delete", remote: true

      - (0..9).each do |number|
        - @theme_array = organize_themes(@themes, number.to_s)
        .row.row-border-bottom
          .col-md-1.padding-bottom.margin-top
            .letter-heading
              = number
          .col-md-8.padding-bottom.margin-top
            - @theme_array.each do |theme|
              %div{id: "theme-row-#{theme.id}"}
                .btn.btn-theme
                  = link_to theme.name, theme_path(theme)
                  %span.badge.margin-left= "#{theme.notecards.count}"
                %strong
                  = link_to "x", theme, method: :delete, class: "btn btn-theme-delete", remote: true
