= form_for(notecard) do |f|
  .panel.panel-default
    .panel-heading
      = f.text_field :title, placeholder: 'title'
    .panel-body
      = f.text_area :quote, placeholder: 'quote'
    = f.fields_for :book do |t|
      .panel-body
        = t.text_field :title, placeholder: 'book title'
      .panel-body
        = t.text_field :publisher, placeholder: 'publisher'
      .panel-body
        = t.text_field :editor, placeholder: 'editor'
      .panel-body
        = t.text_field :isbn, placeholder: 'isbn'
      .panel-body
        = t.number_field :year_published, placeholder: 'year of publication'
    .panel-footer
      = f.text_area :note, placeholder: 'note'
  = f.submit 'submit', class: 'btn btn-default'
