- blank_placeholder = "_"*30

- if @notecard.errors.any?
  .alert.alert-danger.alert-dismissible{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %strong
      = "There was a problem saving your notecard"
    %p
      = "Please address the highlighted #{"field".pluralize(@notecard.errors.count)} and resubmit"

= form_for(notecard) do |f|
  .panel.panel-notecard
    .panel-body.panel-body-input
      .panel-body-input-title
        = f.text_field :title, placeholder: 'Title'
      .error-text.text-danger
        = show_errors(@notecard, :title)
    .panel-body.panel-body-input-alt
      = f.text_area :quote, placeholder: 'Quote'
      .error-text.text-danger
        = show_errors(@notecard, :quote)
    = f.fields_for :book do |t|
      .panel-body.panel-body-input-alt
        = t.text_field :title, placeholder: 'Book Title', class: 'textfield'
        .error-text.text-danger
          = show_errors(@notecard.book, :title)
    .panel-body.panel-body-input
      %strong
        = "Author"
      .margin-left
        = "First name:"
        = text_field_tag :author_first_name, @notecard.author_name(:first_name), placeholder: blank_placeholder
      .margin-left
        = "Last name:"
        = text_field_tag :author_last_name, @notecard.author_name(:last_name), placeholder: blank_placeholder
      .margin-left

    .panel-body.panel-body-input-alt
      = f.text_area :note, placeholder: 'Note'
    .panel-body.panel-body-input-alt
      %strong Themes (separate by commas):
      = f.text_field :theme_list, placeholder: "ex: one, two, three"
  .text-center.margin-bottom
    = f.submit 'submit', class: 'btn btn-default'
