.container.page
  .row
    .col-md-2
      %ul.nav.nav-pills.nav-stacked.margin-top
        %li.active{:role => "presentation"}
          = link_to "Create Notecard", new_notecard_path
        %li{:role => "presentation"}
          = link_to "Home", root_path

    .col-md-8.padding-bottom
      .h1.margin-bottom.text-uppercase
        = "Notecard List"

      - @notecards.each do |notecard|
        #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default
            .h4.panel-title
              .panel-heading.notecard{:id => "heading#{notecard.id}", :role => "tab"}
                %a.collapsed{"aria-controls" => "collapse#{notecard.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{notecard.id}", :role => "button"}
                  = notecard.title
            .panel-collapse.collapse{:id => "collapse#{notecard.id}", "aria-labelledby" => "heading#{notecard.id}", :role => "tabpanel"}
              .panel-body.quote
                = notecard.quote
              .panel-body.book
                = notecard.book.title
                = notecard.book.publisher
                = notecard.book.editor
                = notecard.book.isbn
                = notecard.book.year_published
              - notecard.authors.each do |author|
                .panel-body.quote
                  = author.last_name
              .panel-footer.note
                = notecard.note
              .panel-footer
                = link_to "edit", edit_notecard_path(notecard.id), class: 'links'
                |
                = link_to 'delete', notecard, method: :delete, data: {confirm: 'Are you sure?'}, :class => "links"
