%body.main

%div.container
  %h1.alt-color
    = "Notecard List"

  %div
    - @notecards.each do |notecard|
      %div.notecard.margin-bottom.more.margin-right
        %div.notecard-title.alt-color
          %div.padding-bottom.padding-top.padding-left.title-text
            = notecard.title
          %div.padding-left.padding-bottom
            = link_to "edit", edit_notecard_path(notecard.id), class: 'links'
            |
            = link_to 'delete', notecard, method: :delete, data: {confirm: 'Are you sure?'}, :class => "links"
        %div.notecard-quote
          %div.padding-bottom.padding-top.padding-left
            = notecard.quote
        %div.notecard-note
          %div.padding-bottom.padding-top.padding-left
            = notecard.note


%div.container
  %div.margin-bottom
    = link_to "Create Notecard", new_notecard_path, class: 'button'
    = link_to "Home", root_path, class: 'button'
