.container-fluid.container-fluid-main
  .row
    .col-md-8.col-md-offset-2.padding-bottom
      %table.table
        %h3.margin-bottom Books

        - count = 1
        - if @books.empty?
          = 'Add a book to generate this report'
        - else
          %thead
            %tr
              %th #
              %th Title
              %th Notecard Count
          - @books.each do |book|
            %tbody
              %tr
                %th
                  = "#{count}"
                %td
                  = "#{book.title}"
                %td
                  = "#{book.notecards.count}"
            - count += 1
          
      %table.table.margin-top
        %h3.margin-bottom Themes
        - count = 1
        - if @themes.empty?
          = "Add a theme to generate this report"
        - else
          %thead
            %tr
              %th #
              %th Name
              %th Notecard Count
          - @themes.each do |theme|
            %tbody
              %tr
                %th
                  = "#{count}"
                %td
                  = "#{theme.name}"
                %td
                  = "#{theme.notecards.count}"
            - count += 1
