.container-fluid.container-fluid-main
  .row
    .col-md-2
    .col-md-8
      - ids.each do |id|
        - notecard = Notecard.find(id)
        %div{id: "notecard-row-#{id}"}
          = form_for(notecard, remote: true) do |f|
            .panel.panel-notecard
              .panel-body.panel-body-input
                .panel-body-input-title
                  = f.text_field :title, placeholder: 'Title'
              .notecard-options
                = f.submit 'submit', class: 'btn btn-default'
              .panel-body.panel-body-input-alt
                = f.label "Quote"
                = f.text_area :quote, placeholder: 'Quote'
              = f.fields_for :book do |t|
                .panel-body.panel-body-input-alt
                  = t.text_field :title, placeholder: 'Book Title', class: 'textfield'
              .panel-body.panel-body-input
                %strong
                  = "Author"
                .margin-left
                  = "First name:"
                  = text_field_tag :author_first_name, notecard.authors[0].first_name, placeholder: "____________________"
                .margin-left
                  = "Last name:"
                  = text_field_tag :author_last_name, notecard.authors[0].last_name, placeholder: "____________________"
                .margin-left

              .panel-body.panel-body-input-alt
                = f.label "Note"
                = f.text_area :note, placeholder: 'Note'
              .panel-body.panel-body-input-alt
                %strong Themes (separate by commas):
                = f.text_field :theme_list, placeholder: "ex: one, two, three"
