.jumbotron.tall.home-color
  .container.centered-text
    %h2.text-uppercase
      = "extract marginalia, optimize learning"
    %p
      %em BookPluck helps you discover the hidden connections between texts
    .btn.btn-outline.btn-lg.btn-alt
      = link_to "Sign Up", new_user_registration_path

.container-fluid.tall.padding-top.home-color-alt#about
  .row
    .col-md-8.col-md-offset-2.padding-bottom.main-text
      %h2.margin-bottom
        = "About"
      .lead
        = "BookPluck is a reading note organization app that"
        = "is based on the system developed by Paul Otlet"
        = "early in the 20th century. He discovered that"
        = "once he'd removed a section from a book, it no"
        = "longer made sense to catalogue that section solely"
        = "based on the book. Rather, he catalogued it by"
        = "theme. Books each contain dozens, sometimes"
        = "hundreds of themes. By tagging quotes by theme,"
        = "Otlet was able to compare sections between books"
        = "on vastly different subject matter. At it's peak,"
        = "his collection of notecards numbered more than"
        = "15 million."

.container-fluid.tall.padding-top.home-color#features
  .row
    .col-md-8.col-md-offset-2.padding-bottom.main-text
      %h2.margin-bottom
        = "Features"
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-notecard
          .panel-body.panel-body-notecard{:id => "heading", :role => "tab"}
            %a.collapsed.panel-title-notecard{"aria-controls" => "collapse", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse", :role => "button"}
              = "Title (click me!)"
          .panel-collapse.collapse{:id => "collapse", "aria-labelledby" => "heading", :role => "tabpanel"}
            .panel-body.panel-body-notecard-main
              = "Quote"
            .panel-body.panel-body-notecard
              = "Book by Author"
            .panel-body.panel-body-notecard-main
              = "Note:"
