%div.section.dark
  %div.container
    %h1
      = "BookPluck"
    %div.topright
      = link_to "about", '#about'
      |
      = link_to "features", '#features'
%div.section.light
  %div.container
    %h1#about
      = "About"
%div.section
  %div.container
    %h1#features
      = "Features"
%div.section.dark
