<!DOCTYPE html>
<html>
  <head>
    <title>Bookpluck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto" rel="stylesheet">
  </head>

  <body>
  <% if current_user %>
    <nav class="navbar navbar-default navbar-static-top margin-bottom">
    <div class="container-fluid">
      <% if current_user %>
        <%= "#{current_user.email} is signed in" %>
        |
        <%= link_to 'Signout', destroy_user_session_path, method: :delete %>
      <% else %>
      <% end %>
      </div>
  </nav>
  <% else %>
  <% end %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="alert alert-success">
        <% elsif type == "alert" %>
          <div class="alert alert-danger">
        <% else %>
          <div class='alert alert-<%= "#{type}" %>'>
        <% end %>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <ul>
          <li>
            <%= msg %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <%= yield %>
</body>
</html>
