<!DOCTYPE html>
<html>
  <head>
    <title>Bookpluck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto" rel="stylesheet">
  </head>

  <body>
    <p class="flash-message notice"><%= notice %></p>
    <p class="flash-message alert"><%= alert %></p>

    <nav class="nav">
      <% if current_user %>
        <%= "#{current_user.email} is signed in" %>
        |
        <%= link_to 'Signout', destroy_user_session_path, method: :delete %>
      <% else %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
